# Database
DB_HOST=postgres
DB_PORT=5432
DB_USER=klikku
DB_PASSWORD=klikku
DB_NAME=klikku

# App
APP_PORT=8083
APP_ENV=production
JWT_SECRET=change-me-in-production-use-long-random-string
JWT_EXPIRY_MIN=15
REFRESH_EXPIRY_HOUR=168

# MinIO
MINIO_ENDPOINT=minio:8089
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=klikku
MINIO_REGION=us-east-1
MINIO_USE_SSL=false

# Brevo Email
BREVO_API_KEY=
BREVO_SENDER=Klikku
BREVO_SENDER_EMAIL=no-reply@klikku.arjism.com

# Frontend
FRONTEND_URL=https://klikku.arjism.com

# Super Admin
SUPER_ADMIN_EMAIL=admin@klikku.arjism.com
SUPER_ADMIN_PASSWORD=admin123
